header{
    background-image: linear-gradient(rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.3)), url('../images/ghost_aerial_view.jpg.webp');
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    height: 300px;
    background-repeat: no-repeat;
    padding: 110px;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.181); 
    z-index: 1;
}

header div{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.hed1{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(154, 23, 255);
}

.hed2{
    color: rgba(251, 255, 4, 0.893);
    text-shadow: 3px 3px 3px rgb(232, 1, 1);
}